[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
drf-yasg = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
pandas = "*"
jupyter = "*"
jupyterlab = "*"
jupyter-contrib-nbextensions = "*"

[requires]
python_version = "3.8"
